*, *:after, *::before
{
 margin:0;
 padding:0;
 box-sizing:border-box;
}
html{
 background-color: #eee;
}
ul{
 list-style: none;
}
a{
 text-decoration: none;
}

.head-left h3, .head-left a
{
 padding-left:10px;
}

header
{
 display:flex;
 justify-content: space-between;
 padding: 10px 0;
 background-color:rgba(0, 0, 0, 0.5);
}

.head-left
{
 margin-left:5px;
}

.head-left h3
{
 color:#fff;
}

.head-left a
{
 color:black;
}

.head-left a:hover
{
 color:#fff;
}

.head-right li{
 display:inline-block;
 padding:10px 20px;
 background-color:rgba(68, 68, 68, 0.74);
 border-radius:3%;
 border:3px solid #444;
}

.head-right li:hover
{
 background-color:#444;
}

#sign
{
 background-color:green;
 border-color:green;
}

#sign:hover
{
 background-color:yellowgreen;
 border-color:yellowgreen;
}

.head-right li a
{
 color:#fff;
}
#sign
{
 color:black;
}
.main-header
{
 padding-top:20px;
 overflow:hidden;
 width:90vw;
 margin:0 auto;
 padding-bottom:100px;
}
.main-header a
{
 color:black;
}
.image-div img
{
 width:300px;
}
.image-div, .nav
{
 display:inline-block;
}

.nav
{
 float:right;
}

.nav li
{
 display:inline-block;
 padding: 0 20px;
}

.search-div {
  text-align: center;
}

#search
{
 border:1px solid black;
 border-radius:3%;
 background:white;
 color:black;
}

.submit-div
{
 margin:5px;
}
.submit
{ 
 padding:5px 10px;
 background-color:#f1c40f;
 border:none;
 color:#000;
 font-weight:bold;
 text-transform: uppercase;
}

#submit:hover
{
 background-color:#f1c80f75;
}

.info-div
{
 width:90vw;
 margin:0 auto;
 text-align:left;
}

.row
{
 padding: 30px 0 ;
}
.video-div
{
 text-align:center;
 padding-bottom:20px;
}

.price-div
{
 width:90vw;
 margin:0 auto;
 display:flex;
 justify-content:space-between;
}
.card
{
 width:100%;
 height:100%;
 border:1px solid black;
 border-radius:2%;
 text-align:center;
 flex-basis:30%;
}

.kind-div
{
 padding:10px;
 width:100%;
 background-color:#ddd;
}

.text-div
{
 margin-bottom:20px;
}

footer
{
 width:90%;
 margin:0 auto;
 margin-top:20px;
 height:50px;
 text-align:right;
 background-color:#ddd;
 padding-right:20px;

}

footer a{
 color:black;
 margin-left:10px;
}

footer p
{
 color:#444;
}