*, *:after, *::before
{
 margin:0;
 padding:0;
 box-sizing:border-box;
}
ul{
 list-style: none;
}
a{
 text-decoration: none;
}

.head-left h3, .head-left a
{
 padding-left:10px;
}

header
{
 display:flex;
 justify-content: space-between;
 padding: 10px 0;
 background-color:rgba(0, 0, 0, 0.5);
}

.head-right li{
 display:inline-block;
 padding:0 20px;
}

.head-right li a
{
 color:#fff;
}
#sign
{
 color:black;
}
.main-header
{
 padding-top:20px;
 overflow:hidden;
 width:90vw;
 margin:0 auto;
}

.image-div img
{
 width:300px;
}
.image-div, .nav
{
 display:inline-block;
}

.nav
{
 float:right;
}

.nav li
{
 display:inline-block;
 padding: 0 20px;
}

.search-div {
  text-align: center;
}

#submit {
  display: block;
  text-align: center;
}
